.top-banner {
    background-image: url(../assets/main-banner.png);
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 800px;
}

h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    color: #2F80ED;
    text-align: start;
}

h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: #2F80ED;
    padding-top: 30px;
}

.read-btn {
    padding-top: 10px;
    font-size: 18px;
    color: #219653;
    padding-right: 10px;
    text-decoration: none;
    border: none;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

span {
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #333333;
    text-align: start;
}

.content-row {
    padding-inline: 80px;
    height: 500px;
    background-color: #F2F2F2;
}

.img2 {
    background-image: url(../assets/img2.png);
}

.img3 {
    background-image: url(../assets/img3.png);
}

.img4 {
    background-image: url(../assets/img4.png);
}

.content-image {
    padding-bottom: 50%;
    width: 90%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.articles-column {
    align-items: center;
    padding-inline: 40px;
    right: 20px
}

.article-title {
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;

    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #F2994A;
}

.articles-item {
    width: 100%;
    text-align: center;
    color: #3D3EDF;
}

.header-content {
    height: 50em;
    width: 100%;
    padding-inline: 80px;
}

.main-image {
    background-image: url(../assets/img1.png);
    height: 30em;
    width: 30em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}