span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 48px;
    color: #000000;
}

h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 96px;
    line-height: 90px;
    color: #2F80ED;
    padding-bottom: 40px;
}

.content-iframe {
    height: 600px;
    width: 100%;
}

.nav-bar-iframe {
    height: 90px;
    width: 100%;
}

.main-image {
    background-image: url(../assets/img9.png);
    padding-bottom: 30%;
    width: 90%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.read-btn {
    padding-top: 10px;
    font-size: 18px;
    color: #219653;
    padding-right: 10px;
    text-decoration: none;
    border: none;
    display: block;
    text-align: center;
    border: none;
}

@media only screen and (max-width: 500px) {
    h1 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 40px;
        text-align: center;
        color: #2F80ED;
        text-align: start;
    }

    .nav-bar-iframe {
        height: 180px;
        width: 100%;
    }

    .content-iframe {
        height: 900px;
        width: 100%;
    }

    .main-image {
        background-image: url(../assets/img9.png);
        padding-bottom: 80%;
        width: 90%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
 }
