.top-banner {
    background-image: url(../assets/main-banner.png);
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 800px;
}

h1 {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    color: #2F80ED;
    text-align: start;
}

h2 {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: #2F80ED;
    padding-top: 30px;
}

span {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #333333;
    text-align: start;
}

.articles-column {
    align-items: center;
    padding-inline: 40px;
    right: 20px
}

.article-title {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;

    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #F2994A;
}

.articles-item {
    width: 100%;
    text-align: center;
    color: #3D3EDF;
}

.header-content {
    height: 50em;
    width: 100%;
    padding-inline: 80px;
}

.main-image {
    background-image: url(../assets/img1.png);
    height: 30em;
    width: 30em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.read-btn {
    padding-top: 10px;
    font-size: 18px;
    color: #219653;
    padding-right: 10px;
    text-decoration: none;
    border: none;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

.content-iframe {
    height: 600px;
    width: 100%;
}

.nav-bar-iframe {
    height: 90px;
    width: 100%;
}

@media only screen and (max-width: 500px) {
    .nav-bar-iframe {
        height: 180px;
        width: 100%;
    }

    .content-iframe {
        height: 900px;
        width: 100%;
    }
    .header-content {
        height: 80em;
        width: 100%;
        padding-inline: 80px;
    }

    .main-image {
        background-image: url(../assets/img1.png);
        height: 25em;
        width: 30em;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

}